body {
  background-image: url(../images/delorean.jpg);
}

.btn-default {
  background-color: teal;
}

button {
  margin: 10px;
}

#images {
  font-weight: bolder;
  font-size: 20px;
  color: purple;
}
